    table{
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }
    table, th, td{
        border: 1px solid #cdcdcd;
    }
    table th, table td{
        padding: 5px;
        font-weight: bold;
        text-align: left;
    }
	h4 {
		text-align: center;
	}
	
	input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button] {
  width: 100%;
  background-color: #21618C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #45a049;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header {
  text-align: left;
  background-color: #F6F7F8;
  border: 1px solid #2E86C1;
  border-radius: 3px;  
  width: 80%;
  margin: 40px 40px 40px 136px;
  padding: 50px;
  font-weight: bold;
}

/***************change on this file..............*************************/
.speaker-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

div {
  border-radius: 5px;
  background-color: #2E86C1;
  padding: 20px;
}
